.main_button {
  border-radius: 7px;
  height: 35px;
  width: 100px;
  margin: 10px;
}

.button_container {
  display: flex;
  justify-content: right;
}

nav {
  background-color: var(--root-background-purple);
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 15vw;
  z-index: 1000;
  transition:
    left 0.3s;
  left: -15vw;
}

nav.show {
  left: 0vw;
}

.navbar_show_hide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  position: fixed;
  z-index: 1000;
  top: -50px;
  left: -50px;
  border: none;
  border-radius: 50%;
  background-color: var(--root-background-purple);
}

.navbar_button--inner {
  position: absolute;
  border-radius: 50%;
}

.navbar_button--inner.first {
  z-index: 4;
  background-color: var(--root-background-purple);
  width: 20px;
  height: 20px;
}

.navbar_button--inner.second {
  z-index: 3;
  background-color: white;
  width: 40px;
  height: 40px;
}

.navbar_button--inner.third {
  z-index: 2;
  background-color: var(--root-background-purple);
  width: 60px;
  height: 60px;
}

.navbar_button--inner.fourth {
  z-index: 1;
  background-color: white;
  width: 80px;
  height: 80px;
} 
