.main_button {
  border-radius: 7px;
  height: 35px;
  width: 100px;
  margin: 10px;
}

.button_container {
  display: flex;
  justify-content: right;
}

nav {
  background-color: var(--root-background-purple);
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 15vw;
  z-index: 1000;
  transition:
    left 0.3s;
  left: -15vw;
}

nav.show {
  left: 0vw;
}

.navbar_show_hide {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: var(--root-background-purple);
}
