body {
    background: linear-gradient(90deg, rgba(46,124,255,1) 0%, rgba(129,69,249,1) 100%);
}

.placement {
    margin-left: 100px;
}

.iphone {
    width: 276px;
    height: 555px;
    background: #fff;
    border-radius: 30px;
    border: 2px solid rgba(0,0,0,0.3);
    box-sizing: border-box;
    box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
}

.screen {
    background-image: url(../../media/iphone_screen.jpg);
    background-size: contain;
    /* border: .5px solid rgba(157, 157, 157, 0.3); */
    background-position: center center;
    height: 450px;
    margin: 50px 6px;
    overflow: hidden;
}

.home {
    position: relative;
    bottom: 44px;
    left: 43%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0.3);
}
