.calendar_container {
  height: calc(var(--below-navbar) - 50px);
}

.weekday_container {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 30px);
  margin: 100px;
}
.day {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 120px);
  border: solid 0.5px rgb(4, 4, 4);
}
