.calendar_container {
  height: calc(var(--below-navbar) - 50px);
}

.weekday_container {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 30px);
  margin: 0px 100px;
  margin-top: 20px;
}

.weekday {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.5px black;
  font-size: 25px;
}

.date_container {
  display: grid;
  height: 100%;
  width: 100%;
  padding: 30px 100px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.calendar_day {
  background-color: white;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
}
