.calendar_container {
  height: calc(var(--below-navbar) - 50px);
}

.weekday_container {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 30px);
  margin: 0px 100px;
  margin-top: 20px;
}

.day {
  display: grid;
  border: solid 0.5px black;
}
